table#TaskTable {
   /* table-layout: fixed; */
   width: 100%;
   max-width: 1000px;
   border-spacing: 0;
   margin-bottom: 1em;
}

#TaskTable p {
   margin: 0;
   line-height: 2em;
}

table#TaskTable > thead > tr {
   background: #FCFCFC;
}

table#TaskTable > thead > tr > td {
   padding: 0 10px 0 10px;
   height: 2em;
   min-height: 30px;
   transition: .3s;
}

table#TaskTable > thead > tr > td,
table#TaskTable > tbody > tr:not(:last-child) > td {
   border-bottom: 1px solid gray;
}

table#TaskTable > thead > tr > td:hover {
   color: var(--no-toil-green-dark);
   background: whitesmoke;
}

table#TaskTable > thead > tr > td.sortedBy {
   border-color: var(--no-toil-green-dark);
}

#TaskTable tbody tr {
   transition: .3s;
}

#TaskTable tbody tr:nth-child(even) {
   background: whitesmoke;
}

#TaskTable tr td {
   text-align: center;
}

#TaskTable tr td:nth-child(1) {
   width: 100%;
   padding-left: .5em;
   text-align: left;
}

#TaskTable > tbody > tr.NoTasks > td {
   height: 50px;
   background: whitesmoke;
}

#TaskTable > tbody > tr > td.Update {
   display: flex;
   place-content: space-between;
   place-items: center;
}

#TaskTable > tbody > tr > td.Update > button {
   transition: .3s;
   border-radius: 10em;
   width: 2em;
   height: 2em;
   padding: 0;
   margin: 0;
   margin-top: .2em;
   margin-bottom: .2em;
}

.AccordionRow > td {
   background: transparent;
   border: 1px solid gray;
   border-top: none;
}

@media (prefers-color-scheme: dark) {
   table#TaskTable > thead > tr,
   table#TaskTable > tbody > tr:nth-child(even),
   #TaskTable > tbody > tr.NoTasks > td,
   table#TaskTable > thead > tr > td:hover {
      background: #50505050;
   }

   table#TaskTable > thead > tr > td,
   table#TaskTable > tbody > tr:not(:last-child) > td {
      border-bottom: 1px solid  #80808050;
   }

   .AccordionRow > td {
      background: #202020;
      border-left: 1px solid #80808050;
      border-right: 1px solid #80808050;
   }
}
