#App {
   background: white;
}

#App .Page {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.Content {
   padding: 16px;
}

@media (prefers-color-scheme: dark) {
   #App {
      background: black;
   }  
}