/************************************************************
 * IMPORT
 ************************************************************/
 /* Ubuntu Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
 
/************************************************************
 * DEFINE/GLOBAL
 ************************************************************/
:root {
   --no-toil-green: #7af468;
   --no-toil-green-dark: #4ba85c;
   --cyan: #5183a4;
   --no-toil-orange: #ffba5a;
   --no-toil-orange-dark: #9a5822;
   --off-black: #242424;

   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: var(--off-black);
   background-color: white;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;

	-webkit-touch-callout: var(--cyan);
	-webkit-tap-highlight-color: transparent;
}

html, body, #root, #App, #Page {
	width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
}

#root {
	width: 100%;
}

div {
	display: flex;
	flex-flow: column;
	place-content: top;
	place-items: space-between;
}

span {
	display: flex;
	flex-flow: row wrap;
	place-content: space-between;
	place-items: top;
}

ol, ul, li {
	list-style: none;
	padding-left: 0;
}

a {
	font-weight: 500;
	color: var(--cyan);
	text-decoration: inherit;
}
a:hover {
  	color: var(--no-toil-orange-dark);
}

body {
	margin: 0;
	display: flex;
	place-items: top;
	place-content: center;
	min-width: 320px;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	font-size: 2.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: whitesmoke;
	cursor: pointer;
	transition: border-color 0.3s;
	transition: background 0.3s;
}
button:focus,
button:focus-visible {
  	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
	:root, html, body {
		color: #ffffff;
		background-color: rgb(34, 39, 47);
	}
	button {
		background-color: #213547;
	}
}
