.SliderLayout {
   /* slider style */
   display: "flex";
   flex-flow: row nowrap;
   overflow-x: scroll;

   /* non-slider-related styles */
   width: calc(100% - 1em);

   /* colors */
   box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.02);
   border: 1px solid rgba(200, 200, 200, .5);
}

.SliderLayout .SliderCard {
   min-width: 250px;
   height: fit-content;
   border-radius: 1em;
   margin: 1em;
   padding: 1em;
   background: rgba(220, 220, 220, 0.1);
   border: 1px solid rgba(200, 200, 200, .5);
}