div#Home > main {
   margin: 0 auto;
   max-width: var(--page-max-width);
}

#row-images {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
   flex-wrap: wrap;
}

#row-images > div > img {
   position: relative;
   filter: none;
   transition: all .3s;
   text-align: center;
}

#row-images > div > div {
   position: relative;
   text-align: center;
   top: -50%;
   color: white;
   letter-spacing: .1em;
   opacity: 0;
   transition: opacity 0.3s;
}

#row-images > div:hover > div {
   opacity: 1;
   transition: opacity 0.3s;
}

#row-images > div:hover > img {
   filter: hue-rotate(-20deg) opacity(.9) grayscale(5%) brightness(.7);
   transition: all .3s;
}

#row-images img {
   width: 300px;
   padding: 7px;
   margin: 0;
   opacity: 0; 
   transition: opacity 0.3s;
}

#row-images img.opaque {
   opacity: 1; 
   transition: opacity 0.3s;
}
