/************************************************************
 * BUILT-IN COMPONENTS 
 ************************************************************/
 footer {
   margin: 0 auto;
   width: 100%;
   background: black;
   color: white;
   font-family: GeoEditRegular,Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Helvetica,Arial,sans-serif;
   font-size: 11px;
   line-height: 1.5em;
   letter-spacing: .03em;
}

/************************************************************
 * CUSTOM COMPONENTS 
 ************************************************************/
footer > div.MenuLists {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: space-around;
   grid-gap: .5em;
   max-width: var(--page-max-width);
   margin: 0 auto;
   padding: 1em;
}

@media (max-width: 480px){
   footer > div.MenuLists {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 300px){
   footer > div.MenuLists {
      grid-template-columns: repeat(1, 1fr);
   }
}

footer > div.MenuLists > div.MenuList > div {
   min-width: 100px;
   margin-right: 1em;
}

footer > div.IconRow {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
 