
/************************************************************
 * DEFINE
 ************************************************************/
:root {
   --sidebar-width: 200px;
   --sidebar-transition: .3s;
}

#Sidebar {
   position: fixed;
   z-index: 1;
   overflow: auto;
   width: var(--sidebar-width);
   margin-right: calc(calc(2em + var(--sidebar-width)) * -1);
   padding: 1em;
   height: 100%;
   right: 0;
   background: var(--light-gray);
   opacity: .95;
   transition: var(--sidebar-transition);
}

#Sidebar.activeSidebar {
   margin-right: 0;
}

#Sidebar > div {
   display: flex;
   flex-direction: column;
   justify-content: right;
   text-align: left;
}

header #Sidebar .hamburger-react {
   margin: 0;
}

header span .hamburger-react-wrapper {
   opacity: 1;
   transition: var(--sidebar-transition);
}

header span .hamburger-react-wrapper.activeSidebar {
   opacity: 0;
}
