/************************************************************
 * BUILT-IN COMPONENTS 
 ************************************************************/
footer {
	all: unset;
	display: flex;
	place-items: center;
	place-content: center;
   width: 100%;
	min-height: 50px;
	margin-top: 150px;
   color: white;
	background-color: var(--secondary);
   font-size: 11px;
   line-height: 1.5em;
   letter-spacing: .03em;
}

footer ul {
   all: unset;
   background: blue;
   list-style-type: none;
}

footer a {
   color: white;
}

/************************************************************
 * CUSTOM COMPONENTS 
 ************************************************************/
footer > div.MenuLists {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: space-around;
   grid-gap: .5em;
   max-width: var(--page-max-width);
   margin: 0 auto;
   padding: 1em;
}

@media (max-width: 480px){
   footer > div.MenuLists {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 300px){
   footer > div.MenuLists {
      grid-template-columns: repeat(1, 1fr);
   }
}

footer > div.MenuLists > div.MenuList > div {
   min-width: 100px;
   margin-right: 1em;
}

footer .IconRow {
   display: flex;
   flex-wrap: wrap;
   max-width: 400px;
   width: 100%;
   margin: 1em;
   justify-content: space-around;
}
 
footer .BackToTopButton {
   text-decoration: none;
   width: 1.5em;
   height: 1em;
   padding-bottom: 1em;
   padding-top: -1em;
   text-align: center;
   cursor: pointer;
   background: none;
   color: white;
   font-weight: bold;
   font-size: 1em;
   border-radius: 5em;
   transition: .5s;
   border: 1px solid white;
}

footer .BackToTopButton:hover {
   background: white;
   color: var(--secondary);
   transition: .5s;
}