@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
   --secondary: #5183a4;
   --secondary-light: #6193b4;
}

#Resume p {
   all: unset;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-size: 11px;
   margin-bottom: 1em;
}

#Resume table, #Resume tr {
   width: 100%;
   vertical-align: top;
   margin: 0;
   padding: 0;
}

#Resume h1 {
   color: var(--secondary);
   font-size: 14px;
   font-weight: 800;
   font-family: 'Ubuntu', sans-serif;
   margin: 0;
   padding: 0;
   padding-bottom: .5em;
}

#Resume a {
   color: var(--secondary);
   text-decoration: none;
}

#Resume a:hover {
   color: var(--secondary-light);
}

#Resume > table,
#Resume > table table {
   border-spacing: 0px;
}

#Resume #ResumeBody h1 {
   padding-bottom: .5em;
   padding-top: .5em;
}

#Resume #Summary, #Resume #Experience, #Resume #Projects {
   display: block;
   border-bottom: 1px solid var(--secondary);
}

#Resume #Summary, #Resume #Experience, #Resume #Education {
   display: block;
   margin-bottom: 1em;
   padding-bottom: 1em;
}

#Resume #Projects, #Resume #Languages {
   display: block;
   padding: 1em;
}

#Resume #Projects {
   padding-bottom: 1em;
   margin-bottom: 1em;
}

#Resume #ResumeHeader {
   display: flex;
   place-items: top;
   margin-top: 1em;
   padding-top: 3em;
   border-bottom: 1px solid var(--secondary);
   padding-bottom: 1em;
   margin-bottom: 1em;
}

#Resume #name * {
   font-size: 42px;
   font-weight: 800;
   color: black;
   padding-bottom: .25em;
}

#Resume #title * {
   font-size: 24px;
   font-weight: 800;
   color: gray;
   padding-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
   #Resume #name * {
      color: white;
   }
}

#Resume .job-title * {
   font-size: 14px;
   font-weight: 800;
   color: black;
}

#Resume .subtitle * {
   font-size: 8px;
   color: gray;
}

#Resume .all-caps * {
   text-transform: uppercase;
}

#Resume .right-align * {
   text-align: right;
}

#Resume .bold * {
   font-weight: bold;
}

#Resume .gray * {
   color: gray;
}

#Resume .secondary * {
   color: var(--secondary) !important;
}

@media (max-width: 500px) {

   #Resume tr, #Resume td {
      display: inline;
   }
   
   #Resume #Education {
      border-bottom: 1px solid var(--secondary);
      margin-bottom: 0;
   }
   
   #Resume #Projects {
      padding-top: 0;
   }
   
   #Resume #Projects, #Resume #Languages {
      padding: 0;
   }

   #Resume .right-align *, #Resume #name, #Resume #title {
      text-align: center;
   }
}

@media (prefers-color-scheme: dark) {
   #Resume .job-title * {
      color: white;
   }
}

@media print {
   #Resume #ResumeHeader {
      margin-top: 1em;
      padding-top: 1em;
   }
}
