footer {
   --padding: 1em;
   width: 100vw;
   max-width: unset !important;
   margin-top: auto;
   padding: 1em;
   padding: var(--padding);
   border-top: 1px solid rgba(200, 200, 200, 0.5);
   background: transparent;
   font-family: "Oswald", sans-serif;
   letter-spacing: .05em;
   font-weight: bolder;
}

footer nav {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1em;
   flex-grow: 0;
   margin-bottom: 2em;
}

footer nav button {
   width: 100%;
   font-size: 16px;
}

button.BackToTopButton {
   --side-length: 3em;
   display: inline-block;
   padding: 0;
   padding-top: -5px;
   padding-left: -5px;
   margin: 4px 2px;
   width: var(--side-length);
   height: var(--side-length);
   font-size: calc(var(--side-length) * .35);
   font-weight: bolder;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 50%;
   background: buttonface;
}

button.BackToTopButton:hover {
   background: var(--no-toil-green-dark);
   border: 1px solid green;
   color: green;
   transition: all .3s ease-in-out;
}

footer nav.AddMore,
footer nav#PageLinks,
footer nav#StatusNavigation {
   padding: 1em 0;
   margin-bottom: unset;
   width: calc(100% - 2em);
   max-width: 1000px;
}

footer nav#StatusNavigation {
   grid-template-columns: repeat(3, 1fr);
}

@media (prefers-color-scheme: dark) {
   button.BackToTopButton {
      color: white;
      border: 1px solid gray;
   }
}

@media print {
   footer {
      display: none;
   }
}
