header {
   border-bottom: 1px solid whitesmoke;
   box-shadow: 0 4px 12px -2px whitesmoke;
}

@media (max-width: 250px) {
   header {
      width: 100%;
      overflow-x: scroll;
   }
}

header > h1,
header > h2,
header > h3,
header > h4,
header > h5,
header > h6 {
   transition: .3s;
   margin: .5em;
   text-align: center;
   vertical-align: center;
   transform: scaleX(115%);
   letter-spacing: -1px;
}

@media (prefers-color-scheme: dark) {
   header {
      box-shadow: 0 4px 12px -2px black;
      border-color: black;
   }
      
   header > img {
      filter: brightness(0);
      filter: invert(1);
   }
}