/* The whole application */
#App {
   width: 100vw;
   background: rgba(0, 150, 150, 0.03);
   transition: margin-left .3s ease-in-out;
}

/* the container for main (#Content) */
:has(main) {
   min-height: 100vh;
   flex-direction: column;
   display: flex;
   place-content: start;
   place-items: center;
}

/* The page, not including the header or the footer */
main {
   width: calc(100% - 2em);
   padding: 1em;
}

header, footer {
   background: white;
}

footer {
   display: flex;
   margin: 0;
   margin-top: auto;
   padding: 0;
   width: calc(100% - 2em);
}

#Sidebar {
   background: green;
}

#Sidebar > a > button {
   margin: .5em 1em;
   padding: .5em;
   border-radius: .5em;
}

#Sidebar #CloseSidebarButton {
   border-radius: .5em;
}

#Linktree, #Linktree > h2 {
   margin-bottom: 1em;
}

#Linktree .LinktreeItem > span {
   border: 1px solid whitesmoke;
   background: white;
   padding: 1em;
   border-radius: .5em;
   margin: 0;
   gap: 1em;
}

@media print {
   #App {
      margin-left: 0 !important;
   }
}
