/************************************************************
 * IMPORT
 ************************************************************/
/* Ubuntu Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/************************************************************
 * DEFINE/GLOBAL
 ************************************************************/
 :root {
   --cyan: #5183a4;
   --off-black: #242424;

   --color-light: black;
   --color-dark: whitesmoke;
   --color-link-light: var(--cyan);
   --color-link-dark: var(--cyan);
   --background-light: #ffffff;
   --background-light-secondary: #fefefe;
   --background-light-tertiary: #ffffff;
   --background-dark: #292a2f;
   --background-dark-secondary: #202126;
   --background-dark-tertiary: #393a3f;

   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: var(--color-light);
   background-color: var(--background-light);

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;

   -webkit-touch-callout: var(--cyan);
   -webkit-focus-ring-color: var(--cyan);
   -webkit-tap-highlight-color: transparent;
}

html, body, #root, #App, .Page {
   width: 100vw;
   overflow-x: hidden;
   overflow-y: visible;
   margin: 0;
   padding: 0;
}

span, div, main {
   display: flex;
}

span {
   flex-direction: row;
   flex-wrap: wrap;
}

div, main {
   flex-direction: column;
}

button {
   border: unset;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Ubuntu;
   margin: unset;
}

p {
   font-family: "Open Sans";
   margin: unset;
}

a {
   text-decoration: none;
   color: rgb(0, 132, 165);
}

@media (max-width: 318px) {
   html, body, #root, #App, #Page, header, footer {
      width: 100%;
      overflow-x: auto;
   }
}
