/************************************************************
 * IMPORT
 ************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/************************************************************
 * DEFINE
 ************************************************************/
:root {
	--secondary: #5183a4;
	--secondary-light: #6193b4;
}

/************************************************************
 * BUILT-IN COMPONENTS
 ************************************************************/
html, body, #root, #App {
	all: unset;
	background: white;
	width: 100%;
	overflow-x: hidden;
	overflow-wrap: break-word;
	word-wrap: break-word;
	/* word-break: break-all; */
	hyphens: auto;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

body, #App, #Header, #Footer {
	display: flex;
	flex-direction: column;
	place-items: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 32px;
}

/* mobile overflow-x fix */
@media (max-width: 400px) {
	h1 {
		font-size: 24px;
	}
}

/* mobile overflow-x fix */
@media (max-width: 250px) {
	h1 {
		font-size: 14px;
		overflow-x: hidden;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
	}
	p {
		font-size: 9px !important;
		overflow-x: hidden;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
	}
}

a {
   color: var(--secondary);
   text-decoration: none;
	word-wrap: break-word;
	hyphens: manual;
	transition: all .3s;
}
a:hover {
	text-decoration: underline;
	transition: all .3s;
}

p {
	all: unset;
	display: block;
	margin-bottom: .5em;
	font-size: 1.2em;
}

ul ul {
	padding: 0;
	padding-left: 5;
	display: flex;
	flex-wrap: wrap;
}

ul ul li {
	display: inline;
	padding-right: 2em;
}

button {
	all: unset;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: .5em;
	margin: .5em;
	border: 1px solid var(--secondary);
	color: var(--secondary);
	border-radius: .5em;
	transition: .3s;
}
button:hover {
	background: var(--secondary);
	color: white;
	transition: .3s;
}
a:has(button):hover {
	text-decoration: none;
}

span {
	display: inline-flex;
	flex-wrap: wrap;
	place-content: center;
	place-items: center;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 120px;
	place-items: center;
	background: var(--secondary);
	margin-bottom: 2em;
}

header > a > h1 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-transform: uppercase;
}

header > a > h2 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
}

header span > a > h1 {
	color: white;
	font-size: 1.5em;
}

header span > * {
	padding-left: 1em;
	padding-right: 1em;
}

/************************************************************
 * CUSTOM COMPONENTS
 ************************************************************/
img#ProfilePicture {
	clip-path: circle(35%) !important;
	width: 200px;
}

#Home > span {
	display: flex;
	flex-direction: row-reverse;
}

#Home, #Home > *, #Resume, #Minecraft {
	margin-left: 1em;
	margin-right: 1em;
	width: calc(100% - 2em);
	max-width: 650px;
}

#Home > div > ul p > a > button {
	margin: unset !important;
}

#Asteroids > span {
	gap: 1em;
	justify-content: space-around;
}

/* github repos */

/* space after each repo description */
#GitHub > ul > li {
	margin-bottom: 1em;
}

/* "polaroid cards" */
#GitHub figure {
	all: unset;
	border: 1px solid var(--secondary);
}

#GitHub figcaption {
	display: flex;
	place-items: center;
	place-content: center;
	padding: .5em;
	background-color: var(--secondary);
	color: white;
	font-style: italic;
	text-align: center;
}

/* default card image dimensions */
#GitHub > ul > li > span > figure > img {
	width: auto;
	max-width: 100%;
	max-height: 200px;
}

/* alternate card image dimensions: full-width */
#GitHub > ul > li > span.full-width,
#GitHub > ul > li > span.full-width > figure,
#GitHub > ul > li > span.full-width > figure > img {
	max-width: 100%;
	max-height: fit-content;
}

/* inline-style encapsulations */

/* "center" */
:has(.center) {
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
}

:has(.center) > * {
	width: 100%;
}

@media print {
	header, button, footer, #Footer {
		display: none;
	}

	#Home, #Resume, #Minecraft {
		padding: unset;
	}
}
