nav.AddMore {
   width: calc(100% - 2em);
   padding: 1em 0;
   gap: 1em;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-bottom: unset;
}

table#AddMore {
   width: calc(100% - 2em);
   /* padding: 0 1em; */
   max-width: 1000px;
   min-width: 500px;
   border-spacing: 0;
   margin: unset;
}

table#AddMore tr > td {
   text-align: center;
}

/* thead */
table#AddMore > thead {
   /* background: #fcfcfc20; */
}

table#AddMore > thead > tr > td:nth-child(1) {
   text-align: left;
   padding-left: .25em;
   min-width: 200px;
}

/* tbody */
table#AddMore > tbody > tr > td {
   /* border-top: 1px solid gray; */
   padding: 0;
   margin: 0;
   min-width: 3em;
}

table#AddMore > tbody > tr > td:not(:last-child) {
   border-right: 1px solid transparent;
}

table#AddMore > tbody > tr:nth-child(odd) {
   /* background: rgba(245, 245, 245, 0.344);
   border-bottom: 1px solid gray; */
}

table#AddMore > tbody > tr:nth-child(even) {
   /* background: rgba(255, 255, 255, 0.243);
   border-bottom: 1px solid gray; */
}

table#AddMore td.Description {
   width: 100%;
}

table#AddMore input {
   --padding: .5em;
   background: #CCCCCC20;
   border: none;
   padding: 0 var(--padding);
   margin: 0;
   width: calc(100% - 2 * var(--padding));
   /* height: 100%; */
   min-height: 2em;
   /* outline: none; */
   /* outline: 1px solid green; */
}

@media (max-width: 650px) {
   table#AddMore tr > td.Title {
      min-width: 150px !important;
   }
}

@media (max-width: 350px) {
   table#AddMore tr > td.Title {
      min-width: 100px !important;
   }
}